
.dashboard{
  margin-top: 20px;
  .dash-nav{
    display: flex;
    background: rgba($blue, 0.9);
    width: 100%;
    li{
      padding: 0; margin: 0;

      a{
        width: 100%;
        padding: 10px 25px;
        text-align: center;
        box-sizing: border-box;
        color: white;
        display: block;
        font-weight: $light-wt;
        font-size: 18px;
        &:hover{
          background: white;
          color: $blue;

          .alert{
            background: $yellow;
          }
        }
        .alert{
          background: white;
          margin-left: 10px;
          margin-right: -10px;
        }
      }
      &.active a{
        background: white;
        color: $blue;
        font-weight: normal;
        .alert{
          background: $yellow;
        }
      }
    }

    list-style: none;
    margin: 0; padding: 0;
  }
  .alert{
    display: inline-block;
    height: 20px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    padding: 0 5px;
    border-radius: 3px;
    color: $blue;

  }
}