.form-group.inline{
  display: flex;
  justify-content: space-between;
  >input{
    margin:{
      left: 5px;
      right: 5px;
    }
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
a, button{
  transition: all linear 0.05s;
  &:hover{
    text-decoration: none;
  }
}


.rt{
  text-align: right;
}

.selectize-input {
  > input{
    &:hover, &:focus, &:active{
      box-shadow: none !important;
      border: 0 !important;
      outline: 0;
    }
  }
}

.txt-shadow{
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

a{
  cursor: pointer;
}