.form-group.inline{
  display: flex;
  justify-content: space-between;
  >input{
    margin:{
      left: 5px;
      right: 5px;
    }
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
a, button{
  transition: all linear 0.2s;
  &:hover{
    text-decoration: none;
  }
}

.btn.btn-yellow{
  background: $yellow;
  color: $blue;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  &:hover{
    background: $blue;
    color: $yellow;
  }
}

@for $i from 1 through 100 {
  .size-#{$i}{
    font-size: #{$i}px;
  }
  .size-lg-#{$i}{
    @media (min-width: $screen-lg-min){
      font-size: #{$i}px;
    }
  }

  .size-md-#{$i}{
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
      font-size: #{$i}px;
    }
  }

  .size-sm-#{$i}{
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      font-size: #{$i}px;
    }
  }

  .size-xs-#{$i}{
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
      font-size: #{$i}px;
    }
  }
  
}

.rt{
  text-align: right;
}

.selectize-input {
  > input{
    &:hover, &:focus, &:active{
      box-shadow: none !important;
      border: 0 !important;
      outline: 0;
    }
  }
}