
body{
  margin-top: $navbar-height;
}
*{
  box-sizing: border-box;
}

.list-wrap{
  .list-heading{
    @extend .row;
    h3{
      @extend .col-sm-6;
      display: block;
      margin:{
        top: 25px;
        bottom: 25px;
      }
      padding: {
        top: 0;
        bottom: 0;
      }
    }
    .all-link{
      display: block;
      margin: {
        top: 25px;
        bottom: 25px;
      }
      i{
        line-height: 0.8;
        font-size: 0.8em;
      }
      @extend .col-sm-6;
      text-align: right;
      text-transform: uppercase;
    }
  }
  .list{
    @extend .row;
    .item{
      @extend .col-md-4;
      @extend .col-sm-4;
      &.featured{
        @extend .col-md-6;
        @extend .col-sm-6;
      }
    }
  }
}

.grey-bg{
  background: $grey;
  position: relative;
  z-index: 1;
}

.app{
}