.rating{
  clear: both; overflow: hidden;

  .star{
    float: left;
    @include icon(star);
    &:before{
      display: block;
      line-height: 1;
    }

    color: white;
    &.blue{
      color: $btn-blue;
    }
    font-size: 38px;
  }
}
.ratings{
  display: flex;
  flex-direction: row;
}

.score-wrap{
  @include clear-fix;
  padding: 0 20px;
  font-size: 18px;
  .score-item{
    width: 50%;
    float: left;
    padding: 10px;
  }
  .score{
    position: relative;
    &:before{
      content: " ";
      border-bottom: 4px solid $btn-blue;
      @include stretch(auto, auto, 0, 0);
    }
    &:after{
      content: " ";
      border-bottom: 4px solid white;
      @include stretch(auto, 0, 0, auto);
    }

    @for $i from 1 through 5 {
      &.score-#{$i}{
        &:before{
          width: #{$i*20%};
        }
        &:after{
          width: #{100% - $i*20%}
        }
      }
    }

  }
}