
.yellow-bg{
  background: $yellow;
}
  .yellow-box{
    margin:{
      left: -$grid-gutter-width/2;
      right: -$grid-gutter-width/2;
    }
    padding: $grid-gutter-width/2;
    background: $yellow;
  }

.sidebar{
  @extend .col-md-4;
  position: absolute;
  right: 0; top: 0;
  background: $grey;
  select, .selectize-input{
    width: 100%;
  }

  .number{
    font-weight: 400;
    font-size: 32px;
  }

  label{
    font-weight: $light-wt;
    font-size: 20px;
  }

  .item{

  }
}


.total{
  text-align: center;
  padding: 30px 0 0 0;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  margin-bottom: 20px;
  .btn-yellow{
    margin-top: 30px;
  }
}


h4.heading{
  text-transform: uppercase;
  font-size: 22px;
  margin: 20px 0;
}

.skipper-info{

  border-bottom: 1px solid rgba(0,0,0,0.4);
  .skipper-thumb{
    width: 100%;
  }
  .meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    .age{
      font-weight: bold;
    }
    .score{
      background: rgba(255,255,255,0.8);
      padding: 10px;
      font-size: 20px;
      margin: {
        top: 15px; bottom: 15px;
      }
    }
  }
  p{
    margin: 1em 0;
  }
  .stat-box{
    background: rgba(255,255,255,0.8);
    padding: 10px;
    margin: 10px 0;
    .stat-group{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      label{
        font-size: 18px;
      }
      .text{
        font-size: 20px;
        color: $btn-blue;
      }

    }
  }
}

.sidebar .list > .item{
  
  margin-bottom: 10px;
  .name-box{
    span{
      font-size: 14px;
    }
    .boat-type{
      font-size: 30px;
      line-height: 1;
      padding: 5px;
      background: $btn-blue;
      color: white;
      display: inline-block;
      margin: 30px 20px 0 0;
    }
  }

  .meta-info.price{
    right: 0; top: 0;
    background: $yellow;
    text-align: center;
    padding: 10px;

    .number{
      font-size: 22px;
    }
    .time{
      font-size: 11px;
      font-weight: $light-wt;
    }
  }
}

