.header-bg{
  position: relative;
}
.bg-image{
  position: fixed;
  left: 0; top: 0; right: 0;
  bottom: 0;
  z-index: -1;
  background-size: auto 100%;

  &:after{
    content: " ";
    left: 0; right: 0; bottom: 0; top: 0;
    position: absolute;
    z-index: 2;
    background: rgba(0,0,0,0.5)
  }
  
  .img{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    transform: translate3d(0px, 0, 0);
    z-index: 1;
    &:first-child{
      z-index: 2;
    }
  }

}
.header-wrap{
  position: relative;
  z-index: 3;
}

.heading-col{
  color: white;
  @extend .col-md-8;
  @extend .txt-shadow;
  h1{
    font-weight: $light-wt; 
    margin-top: 30px;
  }
  .heading-icon{
    font-size: 50px;
    line-height: 50px;
    padding: 10px;
    width: 70px; 
    background: $btn-blue;
    color: white;
    display: block;
    float: left;
    margin: 30px 20px 0 0;
  }

  .tag{
    font-size: 16px;
    .type{
      text-transform: uppercase;
    }
  }
}

.tools-col{
  @extend .col-md-4;
  @media all and (min-width: $screen-md-min){
    @extend .rt;
  }

  font-weight: $light-wt; 

  a{
    color: white;
    font-size: 26px;
    display: inline-block;
    margin: 30px 0 0 30px;
    line-height: 42px;
    &:hover i{
      opacity: 0.95;
    }
  }


  i{
    font-size: 1.4em;
    line-height: 0;
    opacity: 0.6;
    transition: all linear 0.2s;
  }
}

.social-col{
  @extend .col-md-8;
  color: white;


  ul{
    list-style: none;
    padding: 0; margin: 0;
    li{
      display: inline-block;
    }
  }
}

.booking-details-heading{
  @extend .col-md-4;
  @extend .txt-shadow;
  color: white;
  padding: 20px 0;
  h4{
    font-size: 22px;
    font-weight: $light-wt;
    text-transform: uppercase;
    margin: 0;
  }
}
.row{
  position: relative;
}

.interact-wrap{
  @extend .col-md-8;
}

.listing-content{
  @extend .col-md-8;
  min-height: 1800px;
}

.interact-wrap{
  min-height: 600px;
}