
$blue: #0d324d;
$btn-blue: #017297;
$overlay-blue: #172e4a;

$footer-blue: #0d344f;
$footer-dark-blue: #092940;

$grey: #efefef;

$yellow: #ffd800;

$font-family-sans-serif: 'Roboto', sans-serif;
$navbar-height: 52px;

$grid-gutter-width: 20px;

$navbar-default-link-color: $blue;
$navbar-default-bg: white;
$navbar-default-color: $blue;

$brand-primary: $blue;
$btn-primary-bg: $btn-blue;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;